<h1>Urban Eagles</h1>

<p>The Urban Eagles are a ministry of Missionary Athletes International (MAI) whose mission is to spread the Gospel of Jesus Christ through the environment of soccer. The focus of MAI is to train players and coaches to do sports ministry, and send these sports ministers to love God & serve others.
 
As a part of MAI, the Charlotte Eagles, a USL PRO Soccer Team, and Lady Eagles, a USL W-League team, have joined the Urban Eagles in this ministry together. This focus has led to the deploying of the Sports Ministers into the urban areas of Charlotte.
 
The mission of the Urban Eagles is to bring holistic (body, soul, spirit) life change to inner city youth using the game of soccer. The Urban Eagles desire to reach out through the building of boys’ soccer teams to make an impact in these urban neighborhoods.
The Urban Eagles utilize spiritual development, tutoring, ESL, Bible Study, soccer instruction, meeting basic needs such as food, clothing, furniture, and transportation, and mentoring to help each participant reach their God given potential.  The Urban Eagles have a presence in multiple neighborhoods each having its own demographic and culture.

The objectives are to send Sports Ministers and Missionaries to be embedded into these neighborhoods as life influences and role models. The teams are used to create structure and accountability while focusing on our main objective: building relationships that lead to loving God and others.
<br>
<br>
<b>URBAN EAGLES CORE VALUES</b>
<br>
<br>
LOVE is our motivation
<ul>We value a pure love of God – Word, worship, prayer</ul>
<ul>We value a selfless love of others – serve them and help meet their needs</ul>
DISCIPLESHIP is our method
<ul>We value personal relationship/investment</ul>
<ul>We value accountability to a standard</ul>
<ul>We value teaching/training in knowledge/righteousness</ul>
EMPOWERMENT is our goal: 
<ul>We value the development of leaders who have a heart to serve their own neighborhoods as ministers of reconciliation/restoration</ul>
<ul>We value the release of young people to live out the fruits of the Spirit in their home/community/school</ul>

For more information, <a href="http://www.maisoccer.com/getinvolved/Urban/index_E.html"> CLICK HERE </a>
</p>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urban_eagles.each do |urban_eagle| %>
      <tr>
        <td><%= link_to 'Show', urban_eagle %></td>
        <td><%= link_to 'Edit', edit_urban_eagle_path(urban_eagle) %></td>
        <td><%= link_to 'Destroy', urban_eagle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<!-- <%= link_to 'New Urban eagle', new_urban_eagle_path %> -->