<h1>About</h1>

<p>Hi, My name is Andrew Au.

I'm originally from Cincinnati, OH but now live in Charlotte, NC. I am currently employed by the Charlotte Eagles Soccer Club, a faith focused professional soccer team. I work with the Urban Eagles, an inner-city ministry program, and I am also the Marketing Coordinator for the Charlotte Eagles.

I recently finished an 8-week code immersion program with Tech Talent South loacted in Charlotte, NC. I learned multiple languages such as Ruby, Ruby on Rails, Domain Modeling, HTTP and "RESTful" Design, HTML/CSS, Javascript and AJAX, and Understanding and Utilizing APIs

In my spare time, I enjoy playing Ultimate Frisbee and compete on Charlotte's Mixed(Coed) Club Team, Charlotte Storm.

If you are interested in my life, please contact me! I would LOVE to tell you all about it!</p>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abouts.each do |about| %>
      <tr>
        <td><%= link_to 'Show', about %></td>
        <td><%= link_to 'Edit', edit_about_path(about) %></td>
        <td><%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<!-- <%= link_to 'New About', new_about_path %> -->
